.EditProfileForm {
    padding: var(--default-padding);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.EditProfileForm__input {
    margin-bottom: 24px;
}

.EditProfileForm__avatar_wrapper {
    margin-bottom: 48px;
    position: relative;
}

.EditProfileForm__avatar_input {
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    z-index: 10;
    color: #fff;
}

.EditProfileForm__avatar_input:hover {
    background-color: rgba(0, 0, 0, .45);
}