.ProfileBlock {
    padding: var(--default-padding);
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--border-color);
}
.ProfileBlock__avatar {
    margin-right: 24px;
}
.ProfileBlock__grid {
    display: grid;
    grid-template-areas: 'name button' 'bio bio' 'other other' 'info info';
    row-gap: 12px;
    width: 100%;
    align-items: center;
}
.ProfileBlock__name {
    grid-area: name;
    font-size: 20px;
    font-weight: 700;
    justify-self: flex-start;
}
.ProfileBlock__name span {
    font-size: 16px;
    font-weight: 400;
    color: var(--muted-color);
}
.ProfileBlock__bio {
    grid-area: bio;
    font-size: 16px;
}
.ProfileBlock__button {
    grid-area: button;
    justify-self: end;
}

.ProfileBlock__other {
    grid-area: other;
}
.ProfileBlock__other_item {
    display: flex;
    line-height: 160%;
    font-size: 16px;
    color: var(--muted-color);
    align-items: center;
}
.ProfileBlock__other_item svg {
    color: var(--accent-color);
    margin-right: 8px;
}

.ProfileBlock__info {
    grid-area: info;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}
.ProfileBlock__info_item {
    font-size: 16px;
    color: var(--muted-color);
}
.ProfileBlock__info_item span {
    font-weight: 500;
    color: var(--black-color);
}