.PostForm {
    padding: 8px 16px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    align-items: flex-start;
    position: relative;
    transition: height .2s;
}
.PostForm__left {
    margin-left: 12px;
    width: 100%;
}
.PostForm__field_wrapper {
    min-height: 48px;
    width: 100%;
    margin-bottom: 8px;
}
.PostForm__field {
    margin-top: 10px;
    border: 0;
    resize: none;
    font-size: 20px;
    width: 100%;
}
.PostForm__field::placeholder {
    color: var(--muted-color);
}
.PostForm__field:focus {
    outline: 0;
}

.PostForm__image_wrapper {
    position: relative;
    margin-top: 12px;
    width: 100%;
    border: 1px solid #D1D9DD;
    border-radius: 15px;
}
.PostForm__image_remove {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .2s;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
}
.PostForm__image_remove:hover {
    background-color: rgba(0, 0, 0, .05);
}
.PostForm__image {
    width: 100%;
    border-radius: inherit;
    display: block;
}

.PostForm__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PostForm__action_button {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color .2s;
    color: var(--accent-color);
    border: 0;
    box-sizing: border-box;
    border-radius: 9999px;
    cursor: pointer;
}
.PostForm__action_button:hover {
    background-color: rgba(29, 155, 240, .1);
}
.PostForm__image_remove .PostForm__action_button {
    color: var(--muted-color);
    border: 1px solid var(--border-color);
    position: absolute;
    right: 12px;
}
.PostForm__image_remove .PostForm__action_button:hover {
    background-color: rgba(0, 0, 0, .1);
}

.PostForm__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--accent-color);
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    z-index: 10;
}
